<?xml version="1.0"?>
<launch>
  <!-- 基本參數設置 -->
  <arg name="model" default="$(find rccn_kuka_robot_cell)/urdf/rccn_kuka_robot_cell.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find rccn_kuka_robot_cell)/rviz/urdf.rviz" />
  
  <!-- 載入關節參數配置 -->
  <rosparam command="load" file="$(find rccn_kuka_robot_cell)/config/joint_limits.yaml" />
  
  <!-- 載入機器人模型 -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <!-- 發布關節狀態 -->
  <group if="$(arg gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
      <rosparam param="source_list">[/west_robot/initial_positions]</rosparam>
    </node>
  </group>
  <group unless="$(arg gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list">[/west_robot/initial_positions]</rosparam>
    </node>
  </group>
  
  <!-- 發布機器人狀態 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- 啟動 RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
  <!-- 輸出提示信息 -->
  <node name="joint_info" pkg="rostopic" type="rostopic" args="echo /joint_states" output="screen" />
</launch> 